
.profile.main{
    box-shadow: 10px 4px 8px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: #66dac7;
    position:absolute;
}

.image{
    height: 128px;
    width: 128px;
   position: relative;
   left:80px; 
    top:100px;
}
.name{
    background-color: #66dac7;
    width:80%;
    position: relative;
    top:100px;
    left:20px;
}
*{
    background-color: #2e4158;
}
.biotext{
    position: relative;
    top:60;
    left:360px;
}
.bio{
   
    position: relative;
    text-align: left;
    left:500px;
}
.loctext{
    position: relative;
    top:60;
    left:350px;
}
.loc{
    
    position: relative;
    text-align: left;
    left:500px;
}
.emailtext{
    position: relative;
    top:60;
    left:390px;
}
.email{

    position: relative;
    text-align: left;
    left:500px;
}